/*!
Theme Name: PSL piedavajumi
Theme URI: http://underscores.me/
Author: ndrv
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: psl-piedavajumi

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

laluna is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@import 'core/_core.scss';
@import './layout/_layout.scss';

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}