@import './header.scss';
@import './main-banner';
@import './form-modal';
@import './model-selector';
@import './simple-block';
@import './grey-block';


.content-wrapper h2 {
    margin-bottom: 1.5em;
    font-size: 1.5em;

    font-weight: 700
}

.simple-block .content-wrapper h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.content-wrapper .subheading {
    margin-top: -1.5em;
}

form .wpcf7-not-valid {
    border-color: red;
}

form .wpcf7-not-valid-tip {
    display: none;
}

.site-footer {
    text-align: center;
    background-color: #191919;
    padding: 35px 2rem;
    color: #dfdfdf;
}

.data-wrapper {
    display: flex;
    justify-content: center;

    .included-info {
        text-align: left;
        flex: 0 0 360px;

        ul {
            margin-left: 0;

            li {
                list-style-type: none;

                &::before {
                    content: "\2022";
                    color: $green;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
    }
}

.m-15 {
    margin-bottom: 20px;
}

.site-info {
    font-size: .8em
}

.option-block-wrapper {
    overflow: hidden;
}