

.submit-form-modal {
    background-color: #fff;
    width: 280px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all .3s;
    z-index: 100;

    &.is-vis {
        right: 2rem;
        bottom: 2rem;

        .modal-control {
            &.open-modal {
                display: none;
            }

            &.close-modal {
                display: block;
            }
        }
    }

    .form-caller {
        cursor: pointer;

        p {
            margin-bottom:0;
        }
    }

    .modal-control {
        position: absolute;
        top:1rem;
        right:25px;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;

        &.close-modal {
            background-image: url(src/svg/close.svg);
            display: none;
            background-size: 70%;
            background-positioN:  center;
        }

        &.open-modal {
            background-image: url(src/svg/open.svg);
        }
    }

    .hidden-form-wrapper {
        overflow-y: hidden;
        max-height:0;
        transition: all .3s;

        &.is-vis {
            max-height:200vh;
            margin-top: 25px;
        }
    }

    input[type="text"],input[type="email"] {
        width: 100%;
        border-radius: 0;
        padding: 9px 13px;
    }

    .gdpr-wrapper {

        .wpcf7-list-item-label {
            padding-left: 35px;
            display: block;
            position: relative;
            line-height: 1.35em;
        }
        input{
            display: none;
            width: 0;
            position: relative;
            
            &~ span::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 2px solid #000;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:checked {
                &~ span::after {
                    content: '';
                    position: absolute;
                    left: 6px;
                    top: 1px;
                    width: 9px;
                    height: 12px;
                    transform: rotate(45deg);
                    transform-origin: center;
                    border-bottom: 2px solid #000;
                    border-right: 2px solid #000;
                }
            }
        }
    }

    input[type="submit"] {
        background-color: $green;
        border-color: $green;
        width: 100%;
        line-height: 45px;
        font-size: 16px;
        padding: 0;
        color: #fff;
        border:0;
        transition: all .3s;
        cursor: pointer;
        text-align: center;

        &:hover {
            background-color: #19bc66
        }
    }

    p {
        margin: 0 0 15px;
        line-height: 15px;
        font-size: 1.1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .submit-wrapper {
        height: 45px;
    }

    .wpcf7-spinner {
        height: 0 !important;
    }

    .gdpr-wrapper {
        .wpcf7-list-item {
            margin: 0 0 20px 0;
            font-size: .8em;
        }
    }
}