
.grey-block {
    .content-wrapper {
        background-color: #ebebeb;
        margin: 0 auto 2rem;
        padding: 40px 2rem;

        form {
            max-width: 470px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                flex: 0 0 calc( 50% - 8px );
                margin: 0 0 16px;

                @include mq('md') {
                    flex: 0 0 100%;
                }

                input {
                    width: 100%;
                    padding: 9px 13px;
                    font-size: .9em;
                    background-color: #fff;
                    
                }

                input[type="text"], input[type="email"] {
                    text-align: left;
                }
            }

            .gdpr-wrapper {
                flex: 0 0 100%;
                text-align: left;
                margin-bottom: 16px;
                font-size: .8em;

                .wpcf7-list-item {
                    margin-left:0;
                }

                input{
                    display: none;
                    width: 0;
                    position: relative;
                    
                    &~ span::before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:checked {
                        &~ span::after {
                            content: '';
                            position: absolute;
                            left: 6px;
                            top: 1px;
                            width: 9px;
                            height: 12px;
                            transform: rotate(45deg);
                            transform-origin: center;
                            border-bottom: 2px solid #000;
                            border-right: 2px solid #000;
                        }
                    }
                }

                label {
                    cursor: pointer;

                    &> span {
                        position: relative;
                        padding-left: 35px;
                        display: block;
                        /* margin-top: -5px; */
                    }                    
                }
            }

            .submit-wrapper {
                flex: 0 0 100%;
            }

            input[type="submit"] {
                background-color: $green;
                border-color: $green;
                width: 100%;
                line-height: 45px;
                font-size: 16px;
                padding: 0;
                color: #fff;
                max-width: 230px;
                transition: all .3s;
                border:0;
                cursor: pointer;

                &:hover {
                    background-color: #19bc66
                }
            }

            .wpcf7-spinner {
                height: 0 !important;
                width: 0 !important;
                margin: 0;
            }
        }
    }
}
