.admin-bar {
    .site-header {
        top: 40px
    }
}

.site-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffffcc;
    z-index: 120;

    @include mq('sm') {
        padding: 10px 0;
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .site-branding {
            flex: 0 0 80px;
            height: 40px;
            background-image: url(src/svg/psl_logo.svg);
            background-size: contain;
            background-position: left center;
            background-repeat: no-repeat
        }
    }

    .main-navigation { 
        display: flex;

        @include mq('sm') {
            flex-direction: column;
            position: absolute;
            background-color: #ffffffe6;
            top: 60px;
            right:0;
            min-width: 250px;
            max-height: 0;
            overflow: hidden;
            transition: all .3s;

            &.active {
                max-height: 100vh;
            }
        }

        a {
            padding: 1rem;
            color: #000;
            font-size: .9em;

            &:hover {
                color: #555;
            }
        }
    }

    .nav-toggler {
        @include mq('sm') {
            width: 40px;
            height: 40px;
            background-image: url(src/img/icons/burger.png);
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid $green;
            cursor: pointer;
        }
    }
}
