.main-banner {
    width: 100%;
    min-height: 90vh;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    padding-top: 55px;
    position: relative;

    .color-overlay {
        @include strech;
        z-index: 1;
        opacity: .5;
    }

    .video-bg-wrapper {
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        overflow: hidden;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            min-width: 100%;
            min-height: 100%;
        }
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @include mq('md') {
            align-items: center;
        }

        @include mq('sm') {
            flex-direction: column;
            justify-content: flex-end;
        }

        .banner-part {
            flex: 0 0 33.3%;

            @include mq('md') {
                flex: 0 0 50%;
            }

            &.left-pt {
                align-self: flex-start;
                color: #fff;
                text-align: left;
                margin-bottom: 1.9rem;
                padding-top:  50px;

                .block-header {
                    font-size: 30px;
                    font-weight: 700;
                    background-color: #00000099;
                    padding: .3rem 1rem;
                    margin: 0 0 5px -1rem;
                }

                .block-subheader {
                    font-size: 18px;
                    background-color: #00000099;
                    padding:  .5rem 1rem;
                    margin: 0 0 0 -1rem;
                    max-width: 339px;

                    b {
                        color: $green;
                    }
                }
            }

            &.center-pt {
                text-align: center;
                font-size: 18px;
                margin-bottom: 50px;

                .btn-wrapper {
                    display: flex;
                    justify-content: center;

                    @include mq('sm') {
                        flex-direction: column;
                        align-items: center;
                    }

                    .btn {
                        margin: 0 7px;
                        color:  #fff;

                        @include mq('sm') {
                            margin-bottom: 10px!important;
                        }
                    }
                }
            }
        }

        .site-title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 25px;
        }
    }
}
