
.model-selector-wrapper {
    position: relative;
    padding: 50px 0;
    background-size: cover;
    background-position: center;

    .color-overlay {
        @include strech;
        z-index: 1;
        opacity: .5;
    }
    
    &::after {
        content: '';
        position: absolute;
        inset:0;
        background-color: #0000005e;
    }

    .content-wrapper {
        position: relative;
        z-index: 2;
        text-align: center;
    }

    .block-footer {
        padding: 0 2rem;
        text-align: center;
        font-size: .9rem;
    }

    .model-selector {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .model-option {
            padding: 5px 20px 10px;
            margin: 0 10px;
            position: relative;
            cursor: pointer;

            &.active::after {
                content: '';
                position: absolute;
                bottom: 0;
                left:0;
                width: 100%;
                border-bottom: 3px solid $green;
            }
        }
    }

    .option-block-wrapper  {
        .option-entry-inner {
            background-color: #ffffffaa;
            color: #000;
            padding-bottom:  40px;
            margin-bottom: 15px;
            flex-grow: 1;

            .option-img {
                padding-top: 150px;
                background-image:url(src/img/car.png);
                background-position: center;
                background-repeat: no-repeat;
            }

            .option-title {
                font-size: 18px;
                font-weight: 700;
                padding: 0 1rem;
            }

            .engine {
                font-weight: 100;
                margin: .7rem 0 0 0;
                color: #333;
                font-size: .9em;
            }

            .wheel_drive {
                font-weight: 100;
                margin: 0 0 .7rem 0;
                color: #333;
                font-size:  .9em;
            }
        }

        .option-block {
            //display: flex;
            //justify-content: center;
            //flex-wrap: wrap;
            //margin-bottom: 2rem;
        }
          

        .option-entry {
            margin: 0 10px 40px;
            flex: 0 0 270px;
            display: none;

            &.active{
                display: flex;
                flex-direction: column;
            }

            .option-price {
                color: $green;
                font-weight: 700;
            }

            .option-description {
                text-align: left;
                list-style: none;
                margin: 0;
                padding: 0 20px;

                ul {
                    padding-left: 20px;
                }
            }

            .option-description {
                li {
                    font-size: .9em;
                    margin-bottom: .5rem;

                    &::before {
                        content: "\2022"; 
                        color: $green; 
                        font-weight: bold; 
                        display: inline-block; 
                        width: 1em; 
                        margin-left: -1em; 
                    }
                }
            }
        }
    }
}