

.simple-block {
    .content-wrapper {
        text-align: center;
        padding: 50px 0;

        .data-wrapper {
            width: 66%;
            display: block;
            margin: auto;

            @include mq(lg) {
                width: 100%;
                padding: 0 2rem;
            }

            &.icons-in-columns {
                display: flex;
            }
        }
    }
}

.icons-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 33%;
    display: flex;

    &.icon-wrapper-col {
        flex: 0 0 50%;
        display: block;

        @include mq('md') {
            flex: 0 0 45%;
        }
        @include mq('sm') {
            flex: 0 0 100%;
        }
    }

    

    &+ .icons-wrapper b{

        @include mq('sm') {
            margin-top: 40px;
            display: inline-block;
        }
    }

    .icon-block-heading {
        text-align: center;
        font-weight:700;
    }

    .icon-entry {
        flex: 0 0 50%;
        padding: .6rem 1rem;
        display: flex;

        @include mq('sm') {
            flex: 0 0 100%;
            padding: 1rem 0;
        }

        .icon-wrapper{
            flex: 0 0 70px;
            padding-right: 30px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.digit span{
                background-color: #000;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                line-height: 25px;
            }
        }

        .icon-desc {
            text-align: left;
            flex:  1 1 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
}

.icons-in-columns {
    flex-wrap: wrap;
    .icons-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        flex: 0 0 33%;
        display: flex;

        &.icon-wrapper-col {
            flex: 0 0 50%;
            display: block;

            @include mq('md') {
                flex: 0 0 45%;
            }
            @include mq('sm') {
                flex: 0 0 100%;
            }
        }

        

        &+ .icons-wrapper b{

            @include mq('sm') {
                margin-top: 40px;
                display: inline-block;
            }
        }

        .icon-block-heading {
            text-align: center;
            font-weight:700;
        }

        .icon-entry {
            flex: 0 0 50%;
            padding: .6rem 1rem;
            display: flex;

            @include mq('sm') {
                flex: 0 0 100%;
                padding: 1rem 0;
            }

            .icon-wrapper{
                flex: 0 0 70px;
                padding-right: 30px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.digit span{
                    background-color: #000;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    line-height: 25px;
                }
            }

            .icon-desc {
                text-align: left;
                flex:  1 1 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}
