/*!
Theme Name: PSL piedavajumi
Theme URI: http://underscores.me/
Author: ndrv
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: psl-piedavajumi

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

laluna is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
	cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
	-webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
	-webkit-appearance: revert;
	appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
	color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
	display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
	-moz-user-modify: read-write;
	-webkit-user-modify: read-write;
	overflow-wrap: break-word;
	-webkit-line-break: after-white-space;
	-webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
	-webkit-user-drag: element;
}

input, textarea {
	border: 0px solid;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1.9em;
}

.content-wrapper {
	width: 100%;
	max-width: 1240px;
	margin: auto;
	padding: 0 2rem;
}

.green {
	color: #21ec81;
	margin-top: 0;
}

.dark {
	color: #fff;
}

.btn {
	font-size: 16px;
	width: 225px;
	border: 2px solid #fff;
	line-height: 45px;
	margin: 0 auto 10px;
	cursor: pointer;
	position: relative;
	transition: all .3s;
}

.btn:hover {
	border-color: #19bc66;
	color: #19bc66;
}

.btn:hover * {
	color: #19bc66;
}

.btn.green-btn {
	font-size: 16px;
	width: 225px;
	border: 2px solid #21ec81;
	background-color: #21ec81;
	transition: all .3s;
}

.btn.green-btn:hover {
	background-color: #19bc66;
	border: 2px solid #19bc66;
}

.btn a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Forms
  --------------------------------------------- */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

.admin-bar .site-header {
	top: 40px;
}

.site-header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #ffffffcc;
	z-index: 120;
}

@media only screen and (max-width: 559px) {
	.site-header {
		padding: 10px 0;
	}
}

.site-header .content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header .content-wrapper .site-branding {
	flex: 0 0 80px;
	height: 40px;
	background-image: url(src/svg/psl_logo.svg);
	background-size: contain;
	background-position: left center;
	background-repeat: no-repeat;
}

.site-header .main-navigation {
	display: flex;
}

@media only screen and (max-width: 559px) {
	.site-header .main-navigation {
		flex-direction: column;
		position: absolute;
		background-color: #ffffffe6;
		top: 60px;
		right: 0;
		min-width: 250px;
		max-height: 0;
		overflow: hidden;
		transition: all .3s;
	}
	.site-header .main-navigation.active {
		max-height: 100vh;
	}
}

.site-header .main-navigation a {
	padding: 1rem;
	color: #000;
	font-size: .9em;
}

.site-header .main-navigation a:hover {
	color: #555;
}

@media only screen and (max-width: 559px) {
	.site-header .nav-toggler {
		width: 40px;
		height: 40px;
		background-image: url(src/img/icons/burger.png);
		background-size: 80%;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid #21ec81;
		cursor: pointer;
	}
}

.main-banner {
	width: 100%;
	min-height: 90vh;
	display: flex;
	height: 100%;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	padding-top: 55px;
	position: relative;
}

.main-banner .color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: .5;
}

.main-banner .video-bg-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

.main-banner .video-bg-wrapper video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
}

.main-banner .content-wrapper {
	display: flex;
	align-items: center;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

@media only screen and (max-width: 767px) {
	.main-banner .content-wrapper {
		align-items: center;
	}
}

@media only screen and (max-width: 559px) {
	.main-banner .content-wrapper {
		flex-direction: column;
		justify-content: flex-end;
	}
}

.main-banner .content-wrapper .banner-part {
	flex: 0 0 33.3%;
}

@media only screen and (max-width: 767px) {
	.main-banner .content-wrapper .banner-part {
		flex: 0 0 50%;
	}
}

.main-banner .content-wrapper .banner-part.left-pt {
	align-self: flex-start;
	color: #fff;
	text-align: left;
	margin-bottom: 1.9rem;
	padding-top: 50px;
}

.main-banner .content-wrapper .banner-part.left-pt .block-header {
	font-size: 30px;
	font-weight: 700;
	background-color: #00000099;
	padding: .3rem 1rem;
	margin: 0 0 5px -1rem;
}

.main-banner .content-wrapper .banner-part.left-pt .block-subheader {
	font-size: 18px;
	background-color: #00000099;
	padding: .5rem 1rem;
	margin: 0 0 0 -1rem;
	max-width: 339px;
}

.main-banner .content-wrapper .banner-part.left-pt .block-subheader b {
	color: #21ec81;
}

.main-banner .content-wrapper .banner-part.center-pt {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}

.main-banner .content-wrapper .banner-part.center-pt .btn-wrapper {
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 559px) {
	.main-banner .content-wrapper .banner-part.center-pt .btn-wrapper {
		flex-direction: column;
		align-items: center;
	}
}

.main-banner .content-wrapper .banner-part.center-pt .btn-wrapper .btn {
	margin: 0 7px;
	color: #fff;
}

@media only screen and (max-width: 559px) {
	.main-banner .content-wrapper .banner-part.center-pt .btn-wrapper .btn {
		margin-bottom: 10px !important;
	}
}

.main-banner .content-wrapper .site-title {
	font-size: 18px;
	color: #fff;
	margin-bottom: 25px;
}

.submit-form-modal {
	background-color: #fff;
	width: 280px;
	padding: 25px;
	box-sizing: border-box;
	box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 2px 8px -1px rgba(0, 0, 0, 0.75);
	margin-left: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	transition: all .3s;
	z-index: 100;
}

.submit-form-modal.is-vis {
	right: 2rem;
	bottom: 2rem;
}

.submit-form-modal.is-vis .modal-control.open-modal {
	display: none;
}

.submit-form-modal.is-vis .modal-control.close-modal {
	display: block;
}

.submit-form-modal .form-caller {
	cursor: pointer;
}

.submit-form-modal .form-caller p {
	margin-bottom: 0;
}

.submit-form-modal .modal-control {
	position: absolute;
	top: 1rem;
	right: 25px;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.submit-form-modal .modal-control.close-modal {
	background-image: url(src/svg/close.svg);
	display: none;
	background-size: 70%;
	background-positioN: center;
}

.submit-form-modal .modal-control.open-modal {
	background-image: url(src/svg/open.svg);
}

.submit-form-modal .hidden-form-wrapper {
	overflow-y: hidden;
	max-height: 0;
	transition: all .3s;
}

.submit-form-modal .hidden-form-wrapper.is-vis {
	max-height: 200vh;
	margin-top: 25px;
}

.submit-form-modal input[type="text"], .submit-form-modal input[type="email"] {
	width: 100%;
	border-radius: 0;
	padding: 9px 13px;
}

.submit-form-modal .gdpr-wrapper .wpcf7-list-item-label {
	padding-left: 35px;
	display: block;
	position: relative;
	line-height: 1.35em;
}

.submit-form-modal .gdpr-wrapper input {
	display: none;
	width: 0;
	position: relative;
}

.submit-form-modal .gdpr-wrapper input ~ span::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	position: absolute;
	top: 0;
	left: 0;
}

.submit-form-modal .gdpr-wrapper input:checked ~ span::after {
	content: '';
	position: absolute;
	left: 6px;
	top: 1px;
	width: 9px;
	height: 12px;
	transform: rotate(45deg);
	transform-origin: center;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}

.submit-form-modal input[type="submit"] {
	background-color: #21ec81;
	border-color: #21ec81;
	width: 100%;
	line-height: 45px;
	font-size: 16px;
	padding: 0;
	color: #fff;
	border: 0;
	transition: all .3s;
	cursor: pointer;
	text-align: center;
}

.submit-form-modal input[type="submit"]:hover {
	background-color: #19bc66;
}

.submit-form-modal p {
	margin: 0 0 15px;
	line-height: 15px;
	font-size: 1.1em;
}

.submit-form-modal p:last-child {
	margin-bottom: 0;
}

.submit-form-modal .submit-wrapper {
	height: 45px;
}

.submit-form-modal .wpcf7-spinner {
	height: 0 !important;
}

.submit-form-modal .gdpr-wrapper .wpcf7-list-item {
	margin: 0 0 20px 0;
	font-size: .8em;
}

.model-selector-wrapper {
	position: relative;
	padding: 50px 0;
	background-size: cover;
	background-position: center;
}

.model-selector-wrapper .color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: .5;
}

.model-selector-wrapper::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: #0000005e;
}

.model-selector-wrapper .content-wrapper {
	position: relative;
	z-index: 2;
	text-align: center;
}

.model-selector-wrapper .block-footer {
	padding: 0 2rem;
	text-align: center;
	font-size: .9rem;
}

.model-selector-wrapper .model-selector {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.model-selector-wrapper .model-selector .model-option {
	padding: 5px 20px 10px;
	margin: 0 10px;
	position: relative;
	cursor: pointer;
}

.model-selector-wrapper .model-selector .model-option.active::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #21ec81;
}

.model-selector-wrapper .option-block-wrapper .option-entry-inner {
	background-color: #ffffffaa;
	color: #000;
	padding-bottom: 40px;
	margin-bottom: 15px;
	flex-grow: 1;
}

.model-selector-wrapper .option-block-wrapper .option-entry-inner .option-img {
	padding-top: 150px;
	background-image: url(src/img/car.png);
	background-position: center;
	background-repeat: no-repeat;
}

.model-selector-wrapper .option-block-wrapper .option-entry-inner .option-title {
	font-size: 18px;
	font-weight: 700;
	padding: 0 1rem;
}

.model-selector-wrapper .option-block-wrapper .option-entry-inner .engine {
	font-weight: 100;
	margin: .7rem 0 0 0;
	color: #333;
	font-size: .9em;
}

.model-selector-wrapper .option-block-wrapper .option-entry-inner .wheel_drive {
	font-weight: 100;
	margin: 0 0 .7rem 0;
	color: #333;
	font-size: .9em;
}

.model-selector-wrapper .option-block-wrapper .option-entry {
	margin: 0 10px 40px;
	flex: 0 0 270px;
	display: none;
}

.model-selector-wrapper .option-block-wrapper .option-entry.active {
	display: flex;
	flex-direction: column;
}

.model-selector-wrapper .option-block-wrapper .option-entry .option-price {
	color: #21ec81;
	font-weight: 700;
}

.model-selector-wrapper .option-block-wrapper .option-entry .option-description {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0 20px;
}

.model-selector-wrapper .option-block-wrapper .option-entry .option-description ul {
	padding-left: 20px;
}

.model-selector-wrapper .option-block-wrapper .option-entry .option-description li {
	font-size: .9em;
	margin-bottom: .5rem;
}

.model-selector-wrapper .option-block-wrapper .option-entry .option-description li::before {
	content: "\2022";
	color: #21ec81;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.simple-block .content-wrapper {
	text-align: center;
	padding: 50px 0;
}

.simple-block .content-wrapper .data-wrapper {
	width: 66%;
	display: block;
	margin: auto;
}

@media only screen and (max-width: 1023px) {
	.simple-block .content-wrapper .data-wrapper {
		width: 100%;
		padding: 0 2rem;
	}
}

.simple-block .content-wrapper .data-wrapper.icons-in-columns {
	display: flex;
}

.icons-wrapper {
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 33%;
	display: flex;
}

.icons-wrapper.icon-wrapper-col {
	flex: 0 0 50%;
	display: block;
}

@media only screen and (max-width: 767px) {
	.icons-wrapper.icon-wrapper-col {
		flex: 0 0 45%;
	}
}

@media only screen and (max-width: 559px) {
	.icons-wrapper.icon-wrapper-col {
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 559px) {
	.icons-wrapper + .icons-wrapper b {
		margin-top: 40px;
		display: inline-block;
	}
}

.icons-wrapper .icon-block-heading {
	text-align: center;
	font-weight: 700;
}

.icons-wrapper .icon-entry {
	flex: 0 0 50%;
	padding: .6rem 1rem;
	display: flex;
}

@media only screen and (max-width: 559px) {
	.icons-wrapper .icon-entry {
		flex: 0 0 100%;
		padding: 1rem 0;
	}
}

.icons-wrapper .icon-entry .icon-wrapper {
	flex: 0 0 70px;
	padding-right: 30px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons-wrapper .icon-entry .icon-wrapper.digit span {
	background-color: #000;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	line-height: 25px;
}

.icons-wrapper .icon-entry .icon-desc {
	text-align: left;
	flex: 1 1 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.icons-in-columns {
	flex-wrap: wrap;
}

.icons-in-columns .icons-wrapper {
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 33%;
	display: flex;
}

.icons-in-columns .icons-wrapper.icon-wrapper-col {
	flex: 0 0 50%;
	display: block;
}

@media only screen and (max-width: 767px) {
	.icons-in-columns .icons-wrapper.icon-wrapper-col {
		flex: 0 0 45%;
	}
}

@media only screen and (max-width: 559px) {
	.icons-in-columns .icons-wrapper.icon-wrapper-col {
		flex: 0 0 100%;
	}
}

@media only screen and (max-width: 559px) {
	.icons-in-columns .icons-wrapper + .icons-wrapper b {
		margin-top: 40px;
		display: inline-block;
	}
}

.icons-in-columns .icons-wrapper .icon-block-heading {
	text-align: center;
	font-weight: 700;
}

.icons-in-columns .icons-wrapper .icon-entry {
	flex: 0 0 50%;
	padding: .6rem 1rem;
	display: flex;
}

@media only screen and (max-width: 559px) {
	.icons-in-columns .icons-wrapper .icon-entry {
		flex: 0 0 100%;
		padding: 1rem 0;
	}
}

.icons-in-columns .icons-wrapper .icon-entry .icon-wrapper {
	flex: 0 0 70px;
	padding-right: 30px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons-in-columns .icons-wrapper .icon-entry .icon-wrapper.digit span {
	background-color: #000;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	line-height: 25px;
}

.icons-in-columns .icons-wrapper .icon-entry .icon-desc {
	text-align: left;
	flex: 1 1 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.grey-block .content-wrapper {
	background-color: #ebebeb;
	margin: 0 auto 2rem;
	padding: 40px 2rem;
}

.grey-block .content-wrapper form {
	max-width: 470px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grey-block .content-wrapper form p {
	flex: 0 0 calc( 50% - 8px);
	margin: 0 0 16px;
}

@media only screen and (max-width: 767px) {
	.grey-block .content-wrapper form p {
		flex: 0 0 100%;
	}
}

.grey-block .content-wrapper form p input {
	width: 100%;
	padding: 9px 13px;
	font-size: .9em;
	background-color: #fff;
}

.grey-block .content-wrapper form p input[type="text"], .grey-block .content-wrapper form p input[type="email"] {
	text-align: left;
}

.grey-block .content-wrapper form .gdpr-wrapper {
	flex: 0 0 100%;
	text-align: left;
	margin-bottom: 16px;
	font-size: .8em;
}

.grey-block .content-wrapper form .gdpr-wrapper .wpcf7-list-item {
	margin-left: 0;
}

.grey-block .content-wrapper form .gdpr-wrapper input {
	display: none;
	width: 0;
	position: relative;
}

.grey-block .content-wrapper form .gdpr-wrapper input ~ span::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #000;
	position: absolute;
	top: 0;
	left: 0;
}

.grey-block .content-wrapper form .gdpr-wrapper input:checked ~ span::after {
	content: '';
	position: absolute;
	left: 6px;
	top: 1px;
	width: 9px;
	height: 12px;
	transform: rotate(45deg);
	transform-origin: center;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}

.grey-block .content-wrapper form .gdpr-wrapper label {
	cursor: pointer;
}

.grey-block .content-wrapper form .gdpr-wrapper label > span {
	position: relative;
	padding-left: 35px;
	display: block;
	/* margin-top: -5px; */
}

.grey-block .content-wrapper form .submit-wrapper {
	flex: 0 0 100%;
}

.grey-block .content-wrapper form input[type="submit"] {
	background-color: #21ec81;
	border-color: #21ec81;
	width: 100%;
	line-height: 45px;
	font-size: 16px;
	padding: 0;
	color: #fff;
	max-width: 230px;
	transition: all .3s;
	border: 0;
	cursor: pointer;
}

.grey-block .content-wrapper form input[type="submit"]:hover {
	background-color: #19bc66;
}

.grey-block .content-wrapper form .wpcf7-spinner {
	height: 0 !important;
	width: 0 !important;
	margin: 0;
}

.content-wrapper h2 {
	margin-bottom: 1.5em;
	font-size: 1.5em;
	font-weight: 700;
}

.simple-block .content-wrapper h2 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.content-wrapper .subheading {
	margin-top: -1.5em;
}

form .wpcf7-not-valid {
	border-color: red;
}

form .wpcf7-not-valid-tip {
	display: none;
}

.site-footer {
	text-align: center;
	background-color: #191919;
	padding: 35px 2rem;
	color: #dfdfdf;
}

.data-wrapper {
	display: flex;
	justify-content: center;
}

.data-wrapper .included-info {
	text-align: left;
	flex: 0 0 360px;
}

.data-wrapper .included-info ul {
	margin-left: 0;
}

.data-wrapper .included-info ul li {
	list-style-type: none;
}

.data-wrapper .included-info ul li::before {
	content: "\2022";
	color: #21ec81;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.m-15 {
	margin-bottom: 20px;
}

.site-info {
	font-size: .8em;
}

.option-block-wrapper {
	overflow: hidden;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/*# sourceMappingURL=style.css.map */