.content-wrapper {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 0 2rem;
}

.green {
    color: $green;
    margin-top: 0;
}

.dark {
  color: #fff;
}

.btn {
    font-size: 16px;
    width: 225px;
    border: 2px solid #fff;
    line-height: 45px;
    margin: 0 auto 10px;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &:hover {
        border-color: #19bc66;
        color: #19bc66;

        * {
            color: #19bc66;
        }
    }

    &.green-btn {
        font-size: 16px;
        width: 225px;
        border: 2px solid $green;
        background-color: $green;
        transition: all .3s;

        &:hover {
            background-color: #19bc66;
            border: 2px solid #19bc66;
        }
    }

    a {
        @include strech;
    }
}  